[submodule "locale"]
	path = locale
	url = https://github.com/wow-vision/vision-locale
[submodule "audio"]
	path = audio
	url = https://github.com/wow-vision/vision-default-audio
[submodule "mapdata/WowVision_MapData_TBC"]
	path = mapdata/WowVision_MapData_TBC
	url = https://github.com/wow-vision/WowVision_MapData_TBC
